---
import Layout from '../components/Layout.astro';
---
<Layout title="Home">
	<h2>Welcome to the Astro Landing Page</h2>
	<p>
		Here is my first post:
		<a href="/posts/post1">Go to Post 1</a>
	</p>
	<p>
		Here is my second post:
		<a href="/posts/post2">Go to Post 2</a>
	</p>
</Layout>
